nav {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #1d1f27;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav__left {
    flex: 1;
    font-size: 1.4rem;
    color: orange;
}

.nav__middle {
    color: gray;
    flex: 1;
}

.fas.fa-search {
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin-right: 5px;
    color: black;
}

.fas.fa-search:active {
    transform: scale(.9);
}

.input__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 25px;
    background-color: white;
}

.input__wrapper input {
    width: 100%;
    padding: 0 10px;
    border: none;
    display: block;
}

.input__wrapper input:focus,
input:focus {
    outline: none;
}

.input__wrapper>:nth-child(2) {
    width: 2px;
    height: 28px;
    position: absolute;
    right: 38px;
    background: black;
}

.nav__right {
    flex: 1;
}

.cart__icon {
    position: relative;
    width: max-content;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

.cart__icon i {
    cursor: pointer;
}

.item__count {
    position: absolute;
    display: grid;
    place-items: center;
    background-color: red;
    z-index: 10;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 600;
    height: 16px;
    width: 16px;
    top: -30%;
    right: -30%;
}